<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="CSS/IMG/Decoración/Logo.png">
    <link rel="stylesheet" href="CSS/style.css">
    <script src="https://kit.fontawesome.com/8042365e74.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <title>Registro Exitoso</title>
</head>
<body id="Black">
    <div class="centrado"></div>
    <header>
        <h2 class="logo">GESTICK</h2>
        <input type="checkbox" id="check">
        <label for="check" class="mostrar-menu">
            &#8801
        </label>
        <nav class="menu">
            <label for="check" class="esconder-menu">
                &#215
            </label>
        </nav>
    </header>
    <section id="centro">
        <div class="contenedor_registro">
            <h1 id="Registro_Exitoso_Titulo">Registro Exitoso</h1>
            <div class="elementos">
                <i id="icono-empleado" class="fa-solid fa-user-tie"></i>
                <h3>Id del Empleado: <%=id%></h3>
                <h3>Contraseña del Empleado: <%=aleatoria%> </h3>
            </div>
            <a href="/logAdmin">
                <input type="submit" value="Siguiente" class="enviar" id="siguiente-registro-ex">
            </a>
        </div>
    </section>
</body>
</html>