@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Fredoka:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', sans-serif;

}

/*
body{
    font-family: "Fredoka", sans-serif;
    background-color: #222222;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2300a2e8' fill-opacity='0.23'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    color: #fff;
    font-size: 16px;
}*/

/*Menu*/

header {
    height: 100px;
    
    background: #283845;
    padding: 0 50px;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#black{
    height: 100px;
    background: #283845;
    padding: 0 50px;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-transform: uppercase;
    color: #fff;
    font-weight: 200;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo2 {
    margin-left: 2%;
    text-transform: uppercase;
    color: #000;
    font-weight: 200;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.menu {
    display: flex;
    justify-content: space-between;
    margin-right: 1%;
}

.menu a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
}

.mostrar-menu,
.esconder-menu {
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0, 4s;
}

.mostrar-menu {
    order: 1;
}

.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover {
    color: #01A7C2;
}

#check {
    display: none;
}



/*Iconos*/

#iconos {
    padding: 0px 50px;
    background: #283845;
}

.contenido-iconos {
    padding: 50px 50px 0px 50px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.contenido-iconos div {
    flex: 1;
    margin: 20px 0px;
    border-right: 2px solid rgba(100, 180, 191, 0.6);
}

.contenido-iconos div i {
    color: #01A7C2;
}

.contenido-iconos div h6 {
    color: #fff;
    font-size: 20px;
    font-weight: 100;
    margin: 10px 0px;
}

.contenido-iconos div p {
    color: #01A7C2;
    font-size: 15px;
}

/*===================================================================MODAL TERMINOS Y CONDICIONES====================================================================*/

/*Modal Perfil*/

.terms__cta{
    text-decoration: none;
    transition: background-color .3s;
}

.part_container{
    display: flex;
    
}

.modal__title{
    padding-top: 10px;
    padding-left: 10px;
    font-size: 2.5rem;
}

.modal__paragraph{
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
}

.modal{
    top: 0;
    left: 0px;
    right: 0;
    bottom: 0px;
    display: grid;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s .3s;
    --transform: translateY(-100vh);
    --transition: transform .3s;
    position: fixed;
	z-index: 100;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #111111bd;
}

.modal--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
    --transition: transform .3s .3s;
}

.modal__container{
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    background-color: #f2f2f2;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;
    transform: var(--transform);
    transition:var(--transition);
}


.modal__close{
    border-radius: 20px;
    justify-content: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #00A2E8;
    display: flex;
    font-weight: 30;
    transition: background-color .3s;
    padding: 10px;
}

.modal__close:hover{
    color: #00A2E8;
    background-color: #ffffff;
}

/*===================================================================MODAL TERMINOS Y CONDICIONES====================================================================*/


/*=========================================================INICIAR SESION==========================================================================*/
/*Iniciar Sesion*/

#Black {
    background-color: #283845;
}

.ilustracion {

    background-color: #C4C4C4;
    width: 576px;
    height: 759px;
}

.ilustracion img {
    width: 546px;
    height: 728px;
}

.formulario {
    width: 512px;
    background-color: #fff;
    border: 1px solid #A09898;
    box-sizing: border-box;
    display: flexbox;
    text-align: center;
}

.formulario h1 {
    font-style: normal;
    font-weight: 300;
    font-size: 100px;
    line-height: 155px;

    color: #01A7C2;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
}


.parametros {
    display: flex;
    flex-wrap: wrap;
}

.iniciar_sesion {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;

    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1;

}

input,
textarea {
    background: linear-gradient(0deg, #F3F2F2, #F3F2F2), linear-gradient(0deg, #F3F2F2, #F3F2F2), #F3F2F2;
    border-radius: 5px;
    width: 408px;
    height: 41px;
}


input:focus {
    border: 3px solid #6684ac;
    outline: none;
    box-shadow: 3px 0px 30px rgba(68, 143, 201, 0.749);
}

textarea:focus {
    border: 3px solid #6684ac;
    outline: none;
    box-shadow: 3px 0px 30px rgba(68, 143, 201, 0.749);
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="date"] {

    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #01A7C2;

    width: 82%;
    padding: 10px;
    border: none;
    background: linear-gradient(0deg, #A3BAC3, #A3BAC3), linear-gradient(0deg, #A3BAC3, #A3BAC3), #A3BAC3;
    color: #01A7C2;
}

.input-contenedor {
    margin-bottom: 15px;
}

.icon {
    min-width: 50px;
    text-align: center;
    color: #00A2E8;
}

.icon2{
    min-width: 50px;
    text-align: center;
    color: #222;
}

.enviar {

    margin-left: 40px;
    margin-top: 15px;
    background: #283845;
    border-radius: 6px;
    border: none;
    font-family: 'Advent Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    transition: all 0.4s;

    color: #FFFFFF;
}

.enviar:hover {
    background-color: #01A7C2;

}

.registrar {
    background-color: #fff;
    border: 1px solid #A09898;
    box-sizing: border-box;
    width: 512px;
    height: 154px;
    align-items: center;
}

.registrar h2 {
    text-align: center;
    font-style: inherit;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    margin-top: 30px;

    color: #000000;
}

.registrar a {

    margin-top: 20px;
    margin-left: 150px;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    text-decoration-line: underline;
    color: #283845;
    transition: all 2s;

}

.registrar a:hover {

    margin-top: 20px;
    margin-left: 150px;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    text-decoration-line: underline;
    color: #01A7C2;

}


/*=====================================================================REGISTRO===========================================================================*/

/*
.registro_back{
    background:url(../WALLPAPERS/Wallpaper_Principal.jpg);
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.7;
    width: 100vw;
    height: 100vh;
}

.registrarse h1{
    
    text-align: center;
    width: 435px;
    height: 163px;
    font-weight: 400;
    font-size: 128px;
    line-height: 155px;

    color: #01A7C2;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contenido-registro{
    width: 100%;
    padding: 15px;
}
.registrarse{
    margin: auto;
    width: 600px;
    margin-top: 150px;
    border-radius: 2%;
    background: #C4C4C4;
    border-radius: 48px;
    text-align: center;
}
*/

/*footer*/

/*=========================================================================REGISTRO EXITOSO==========================================*/

.elementos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

#Registro_Exitoso_Titulo {

    font-style: normal;
    font-weight: 100%;
    font-size: 50px;
    line-height: 155px;

    color: #01A7C2;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;

}

#centro {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: calc(100vh - 100px);
}

#siguiente-registro-ex {

    margin-top: 10%;
    margin-bottom: 500px;
}

.contenedor_registro {

    margin: auto;
    width: 600px;
    margin-top: 150px;
    text-align: center;
    justify-content: space-between;
    margin: auto auto auto auto;
    background-color: #fff;
}

.fa-user {
    width: 10%;
    height: 10%;
}

#icono-empleado {

    margin-left: 50px;
    width: 10%;
    height: 10%;
}

#siguiente-registro-ex {
    margin-top: 20%;
    margin-bottom: 10%;
}


/*=========================================================================INVENTARIO==================================================================*/

.Header-Opciones {
    margin-top: 20px;
    
    align-items: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Separado {
    margin: 0px 10px;
}

#BotonNo {
    text-decoration: none;
    border-radius: 5px;
    background-color: #A3BAC3;
    padding: 3%;
    border: none;
    cursor: pointer;
    transition: all .4s;
}

#BotonActivo {
    text-decoration: none;
    border-radius: 5px;
    background-color: #01A7C2;
    padding: 2%;
    border: none;
    cursor: pointer;
    transition: all .4s;
}

#BotonNo:hover {
    background-color: #01A7C2;
}

#BotonActivo:hover {
    background-color: #A3BAC3;
}

.tabla-escala {
    display: flexbox;
    text-align: center;
    justify-content: center;
    height: 100vh;
    padding: 30px;
}

.table {
    width: 100%;
    border: 1px solid #01A7C2;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    table-layout: fixed;
}

.table caption {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 8px 0px;
}

.table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
}

.table th,
.table td {
    font-size: 16px;
    padding: 8px;
    text-align: center;
}

.table thead th {
    text-transform: uppercase;
    background-color: #01A7C2;
}

.table tbody tr:hover {
    background-color: rgba(17, 189, 189, 0.2);
}

.table tbody td:hover {
    background-color: rgba(17, 189, 189, 0.2);
}

.producto-texto{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}


.producto-texto img{
    width: 50px;
    height: 50px;
    margin: 10px;
}



/*=========================================================================RESPONSIVE==================================================================*/

@media(max-width: 768px) {

    /*Menu*/
    .mostrar-menu,
    .esconder-menu {
        display: block;
    }

    .menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #283845;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0px;
        z-index: 100;
        transition: 0.8s;
    }

    .menu a {
        display: block;
        padding: 20px;
    }

    .esconder-menu {
        position: absolute;
        top: 40px;
        right: 40px;
    }

    #check:checked~.menu {
        right: 0;
    }

    /*Equipo*/

    #personas {
        flex-direction: column;
    }

    /*Registro*/

    .registrarse,
    .Registro {
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }

    /*Footer*/

    .contenedor-footer {
        flex-direction: column;
        border: none;
    }

    .content-foo {
        margin-bottom: 20px;
        text-align: center;
    }

    .content-foo h4 {
        border: none;
    }

    .content-foo p {
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }

    .titulo-final {
        font-size: 20px;
    }
}

/*=================================================================================Crear Producto======================================================================*/

#pruebas{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    background: #e0eafc;
}

.Drag_Drop{
    max-width: 650px;
    width: 100%;
    padding: 30px;
    background: #fff;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2);
}

.Drag_Drop h3{
    margin-bottom: 20px;
    font-weight: 500;
}

.drag-area{
    height: 400px;
    border: 3px dashed #e0eafc;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;

}

.drag-area .icon{
    font-size: 50px;
    color: #00A2E8;
}

.drag-area .headerD{
    font-size: 20px;
    font-weight: 500;
    color: #34495e;
}

.drag-area .support{
    font-size: 12px;
    color: gray;
    margin: 10px 0 15px 0;
}

.drag-area .buttonD{
    font-size: 20px;
    font-weight: 500;
    color: #00A2E8;
    cursor: pointer;
}
/*-----------------------------------------------------------------inicio empleado-----------------------------------------------------*/
* {
    padding: 0;
    margin: 0;
    color: #1a1f36;
    box-sizing: border-box;
    word-wrap: break-word;
    font-family: 'Fredoka', sans-serif;
  }
  body {
      min-height: 100%;
      background-color: #ffffff;
  }
  h1 {
      letter-spacing: -1px;
  }
  a {
    color: #00A2E8;
    text-decoration: unset;
  }
  .login-root {
      background: #fff;
      display: flex;
      width: 100%;
      min-height: 100vh;
      overflow: hidden;
  }
  .loginbackground {
      min-height: 692px;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      z-index: 0;
      overflow: hidden;
  }
  .flex-flex {
      display: flex;
  }
  .align-center {
    align-items: center; 
  }
  .center-center {
    align-items: center;
    justify-content: center;
  }
  .box-root {
      box-sizing: border-box;
  }
  .flex-direction--column {
      -ms-flex-direction: column;
      flex-direction: column;
  }
  .loginbackground-gridContainer {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: [start] 1fr [left-gutter] (86.6px)[] [left-gutter] 1fr [end];
      grid-template-columns: [start] 1fr [left-gutter] repeat(16,86.6px) [left-gutter] 1fr [end];
      -ms-grid-rows: [top] 1fr [top-gutter] (64px)[] [bottom-gutter] 1fr [bottom];
      grid-template-rows: [top] 1fr [top-gutter] repeat(8,64px) [bottom-gutter] 1fr [bottom];
      justify-content: center;
      margin: 0 -2%;
      transform: rotate(-12deg) skew(-12deg);
  }
  .box-divider--light-all-2 {
      box-shadow: inset 0 0 0 2px #e3e8ee;
  }
  .box-background--blue {
      background-color: #00A2E8;
  }
  .box-background--white {
    background-color: #ffffff; 
  }
  .box-background--blue800 {
      background-color: #00A2E8;
  }
  .box-background--gray100 {
      background-color: #e3e8ee;
  }
  .box-background--cyan200 {
      background-color: #7fd3ed;
  }
  .padding-top--64 {
    padding-top: 64px;
  }
  .padding-top--24 {
    padding-top: 24px;
  }
  .padding-top--48 {
    padding-top: 48px;
  }
  .padding-bottom--24 {
    padding-bottom: 24px;
  }
  .padding-horizontal--48 {
    padding: 48px;
  }
  .padding-bottom--15 {
    padding-bottom: 15px;
  }
  
  
  .flex-justifyContent--center {
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  .formbg {
      margin: 0px auto;
      width: 100%;
      max-width: 448px;
      background: white;
      border-radius: 4px;
      box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
  }
  span {
      display: block;
      font-size: 20px;
      line-height: 28px;
      color: #1a1f36;
  }
  label {
      margin-bottom: 10px;
  }
  .reset-pass a,label {
      font-size: 14px;
      font-weight: 600;
      display: block;
  }
  .reset-pass > a {
      text-align: right;
      margin-bottom: 10px;
  }
  .grid--50-50 {
      display: grid;
      grid-template-columns: 50% 50%;
      align-items: center;
  }
  
  .field input {
      font-size: 16px;
      line-height: 28px;
      padding: 8px 16px;
      width: 100%;
      min-height: 44px;
      border: unset;
      border-radius: 4px;
      outline-color: rgb(84 105 212 / 0.5);
      background-color: rgb(45, 45, 45);
      box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px;
  }
  
  input[type="submit"] {
      background-color: rgb(84, 105, 212);
      box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, 
                  rgb(84, 105, 212) 0px 0px 0px 1px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(60, 66, 87, 0.08) 0px 2px 5px 0px;
      color: rgb(59, 59, 59);
      font-weight: 600;
      cursor: pointer;
  }
  .field-checkbox input {
      width: 20px;
      height: 15px;
      margin-right: 5px; 
      box-shadow: unset;
      min-height: unset;
  }
  .field-checkbox label {
      display: flex;
      align-items: center;
      margin: 0;
  }
  a.ssolink {
      display: block;
      text-align: center;
      font-weight: 600;
  }
  .footer-link span {
      font-size: 14px;
      text-align: center;
  }
  .listing a {
      color: #697386;
      font-weight: 600;
      margin: 0 10px;
  }
  
  .animationRightLeft {
    animation: animationRightLeft 2s ease-in-out infinite;
  }
  .animationLeftRight {
    animation: animationLeftRight 2s ease-in-out infinite;
  }
  .tans3s {
    animation: animationLeftRight 3s ease-in-out infinite;
  }
  .tans4s {
    animation: animationLeftRight 4s ease-in-out infinite;
  }
  
  @keyframes animationLeftRight {
    0% {
      transform: translateX(0px);
    }
    50% {
      transform: translateX(1000px);
    }
    100% {
      transform: translateX(0px);
    }
  } 
  
  @keyframes animationRightLeft {
    0% {
      transform: translateX(0px);
    }
    50% {
      transform: translateX(-1000px);
    }
    100% {
      transform: translateX(0px);
    }
  } 

/*-----------------------------------------Registro empleado-------------------------------------------------------*/
*:focus {
    outline: none;
  }
  
  body {
    margin: 0;
    padding: 0;
    background: #DDD;
    font-size: 16px;
    color: #01A7C2;
    font-family: 'Fredoka', sans-serif;
    font-weight: 300;
    position: center
  }
  
  .login-box {
    margin:0px auto;
    position: center;
    margin: 5% auto;
    width: 1000px;
    height: 400px;
    background: #FFF;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }
  
  .left {
    position: absolute;
    top: 200px;
    left: -300px;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
  }
  
  h1 {
    color: #01A7C2;
    margin: 0 0 20px 0;
    font-weight: 200;
    font-size: 28px;
  }
  
  input[type="text"],
  input[type="password"] {
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    border-bottom: 1px solid #AAA;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
  }
  
  input[type="text"]:focus,
  input[type="password"]:focus {
    border-bottom: 2px solid #01A7C2;
    color: #01A7C2;
    transition: 0.2s ease;
  }
  
  input[type="submit"] {
    margin-top: 28px;
    width: 120px;
    height: 32px;
    background: #01A7C2;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.1s ease;
    cursor: pointer;
  }
  
  input[type="submit"]:hover,
  input[type="submit"]:focus {
    opacity: 0.8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
  }
  
  input[type="submit"]:active {
    opacity: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
  }
  
  .or {
    position: absolute;
    top: 400px;
    left:-20px;
    width: 40px;
    height: 40px;
    background: #DDD;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    line-height: 40px;
    text-align: center;
  }
  .contenedorR{
  /* centrar vertical y horizontalmente */
  position: absolute;
  top: 0%;
  left: 50%;
  }
  
  .right {
    position: absolute;
    top: 200px;
    right: -300px;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
    background: url('https://goo.gl/YbktSj');
    background-size: cover;
    background-position: center;
    border-radius: 0 2px 2px 0;
  }
  
  .right .loginwith {
    position: center;
    display: block;
    margin-bottom: 40px;
    font-size: 28px;
    color: #01A7C2;
    text-align: center;
  }
  
  button.social-signin {
    margin-bottom: 20px;
    width: 220px;
    height: 36px;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Fredoka', sans-serif;
    font-weight: 500;
    transition: 0.2s ease;
    cursor: pointer;
  }
  
  button.social-signin:hover,
  button.social-signin:focus {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.2s ease;
  }
  
  button.social-signin:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.2s ease;
  }
  
  button.social-signin.facebook {
    background: #32508E;
  }
  
  button.social-signin.twitter {
    background: #55ACEE;
  }
  
  button.social-signin.google {
    background: #DD4B39;
  }
  /*-------------------------------------------------------------------------------------------------*/